@media screen and (max-width: 400px) {
  
  .header__logo {
    height: 3em;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 0.5em;
  }  

  .header__title {
    font-weight: 150;
    font-size: 2em;
    display: inline-block;
    vertical-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .burguer {
  display: inline-block;
  }

  .nav {
    width: 300px;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    width: 100%;
    border-bottom: rgb(0, 0, 0) 1px solid;
  }

}